<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shubham Prajapati - Resume</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="style.css">
</head>
<body >
  <header>
    <h1>Shubham Prajapati</h1>
    <p>
      <a href="mailto:shubhampjpt87@gmail.com">shubhampjpt87@gmail.com</a><br>
      <a href="tel:+917081659903">+917081659903</a>  <a href="tel:+919795836609">+919795836609</a><br>
      <a href="https://www.linkedin.com/in/shubham-prajapati-abc2020/">linkedin.com/in/shubham-prajapati-abc2020</a>
    </p>
  </header>
  

  <section id="about">
    <h2>About Me</h2>
    <p><%= data.summary %></p>
  </section>

  <section id="experience">
    <h2>Experience</h2>
    <% for (const exp of data.experience) { %>
      <h3><%= exp.title %></h3>
      <p><strong><%= exp.company %></strong> (<%= exp.date %>)</p>
      <p><%= exp.description %></p>
      <% if (exp.link) { %>
        <a href="<%= exp.link %>">Project Link</a>
      <% } %>
    <% } %>
  </section>

  <section id="education">
    <h2>Education</h2>
    <h3><%= data.education.institute %></h3>
    <p><%= data.education.degree %> (<%= data.education.duration %>)</p>
  </section>

  <section id="licenses">
    <h2>Licenses & Certifications</h2>
    <ul>
      <% for (const license of data.licenses) { %>
        <li><%= license %></li>
      <% } %>
    </ul>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <ul>
      <% for (const skill of data.skills) { %>
        <li><%= skill %></li>
      <% } %>
    </ul>
  </section>
 <script src="public/script.js"></script> 
 </body>
</html>
